[2019-12-18 12:33] mkharibalaji opened #1 "React Native Notification Intergation"
Hi @kanzitelli ,
          Excellent Work.It would be great if we could have React Native Notification integrated with the current version of the template.

[2019-12-19 01:53] kanzitelli commented on #1
Hello @mkharibalaji,

Thank you for the feedback! This is actually a good feature to have within the template. I am planning to use [React Native Notifications](https://github.com/wix/react-native-notifications) in the project I am working on now and once I successfully integrate it there and test it as well, I will add this library to the template. Sounds good? :)

[2019-12-28 14:10] billel-boudchicha commented on #1
hi @kanzitelli
Thank you for this starter. could you please tell me about the state of react-native-notifications , cuz i am planning to migrate from rn-firebase as it's become a payed library now.
thank you for your feedback

[2019-12-29 17:12] kanzitelli commented on #1
Hello @billel-boudchicha!

Thank you for the feedback! I am going to be honest and say that I have not started integration yet because notifications are at the end of todo list of the app I am working on now but if it would be possible I will lift it up and do my best to do it as fast as I can.

And a few questions about notifications: Were you planning to use [notification library by Wix](https:/

[2020-01-22 08:04] florandom opened #2 "Redux hooks API"
#### It would be nice to use [redux hooks API](https://react-redux.js.org/api/hooks) and avoid mapStateToProps/mapDispatchToProps or redux HOC boilerplate in functional components

[2020-01-22 09:48] kanzitelli commented on #2
@florand0m I agree, this is much better way to go using Redux 🙂When I have time, I will totally change it however I am a bigger fan of Mobx. Anyways, if you would like to contribute and change the logic using Redux Hooks API, please feel free to do it!

[2020-02-13 16:05] juddey commented on #1
Subscribing to this thread. Planning to implement RN Notifications by Wix.

[2020-02-18 22:33] kanzitelli commented on #1
Hey @juddey! Your help is very welcome and appreciated!

[2020-02-18 23:39] kanzitelli opened #3 "RNN --> v5"
and update other packages

[2020-02-19 00:19] #3 closed

[2020-02-19 17:34] #2 closed

[2020-02-19 17:35] kanzitelli commented on #2
@florandom done!

[2020-04-11 05:27] HamidReazaNikoonia opened #7 "is it scaleable and ready for production"
is it scaleable and ready for production starter and are you recomment for use this boilerplate in high performance scaleable application in production ?

[2020-04-13 09:53] kanzitelli commented on #7
@HamidReazaNikoonia hey! Well, this boilerplate is actually built based on the app I am working on at the moment as my side project and the app has a 10k daily users and the number is growing. So quick answer is yes. Of course, the app now has more folders like `services`, `utils`, etc. but this can be handled individually. Still I would like to add `wix-notifications`and `codepush` to this boiler

[2020-04-13 09:56] kanzitelli opened #8 "react-native 👆0.62"
Upgrade react-native to 0.62.

`note` there should be some fixes for android build files due to RNN support for RN 0.62

[2020-04-16 21:20] juddey commented on #1
@kanzitelli update: have RN notifications "roughly" working on android now

[2020-04-17 17:53] kanzitelli commented on #1
@juddey awesome news! I will start integrating RN notifications soon as one of my side project is getting done that was actually bootstrapped from this starter. Would you like to share your "roughly" working version?

[2020-04-18 00:09] juddey commented on #1
Sure, give me a few days to give it a try and see what it will and wont do

[2020-04-20 08:58] joonhocho commented on #7
@kanzitelli  could you share your app?

[2020-04-21 11:11] kanzitelli commented on #7
@joonhocho I am not done with it yet but hopefully will finish during next two weeks and will share it for sure. If you wish, I can share a video of how it works now 🙂

[2020-07-27 08:12] dpchami commented on #7
Any update with the app video @kanzitelli

[2020-08-02 12:56] anhtuank7c opened #10 "Crash when enable Show Perf Monitor"
![image](https://user-images.githubusercontent.com/3163410/89123507-1c4de180-d4fa-11ea-8037-06ed82b6d42a.png)

[2020-08-03 21:26] kanzitelli commented on #8
closed by #11

[2020-08-03 21:26] #8 closed

[2020-08-03 21:55] kanzitelli commented on #10
@anhtuank7c it should be fixed now :)

[2020-08-03 21:59] kanzitelli commented on #7
@dpchami hey! sorry for the late reply. Well, how you might have guessed, it didn't work how I have been expecting from my previous comment. So now I am transferring one of the app using this starter (v2.0) with new RN and RNN versions. And once I am done (should be during next 2 weeks), I will publish the video. Sorry for any inconveniences :)

[2020-08-04 10:03] #10 closed

[2020-08-05 22:08] kanzitelli commented on #1
Hey guys! I have just integrated Expo modules to the starter. So it will be much easier to add notifications and other modules from Expo 🎉
I am planning to create an `example` folder with some examples such as working and configured notifications, auth flow and other use cases. If anyone would be down to contribute, you are always welcome 🖖

[2020-09-01 08:42] hlandao opened #14 "Starter is stuck on the splash screen"
Trying to run the starter from a clean state but it is not passing the splash screen.
Did anyone run into a similar issue?

**XCODE logs:**
[code]

[2020-09-01 11:48] kanzitelli commented on #14
@hlandao hey there! I have just cloned the starter and run it on simulator, everything works. And XCode logs don't seem to have any crucial errors 🤔 Could you share more information about the changes you've done to the code? Do you run it on a simulator or real device?
One issue that happens to me on the very first launch is that It shows error that it is not connected to Metro Bundle server but i

[2020-09-01 12:19] hlandao commented on #14
@kanzitelli thanks for the quick response. I was trying both on a simulator and a real device. I will try again and update quickly.

[2020-09-01 19:13] hlandao commented on #14
@kanzitelli Strangely cleaning derived data made the difference.

[2020-09-01 19:13] #14 closed

[2020-09-03 11:59] kanzitelli commented on #7
I am closing this issue due to me publishing the app for iOS -- https://apps.apple.com/ru/app/pyos-for-vk-%D0%BD%D0%B5%D0%B2%D0%B8%D0%B4%D0%B8%D0%BC%D0%BA%D0%B0-%D0%B4%D0%BB%D1%8F-%D0%B2%D0%BA/id819406913. It is an alternative client for VK, social network that is very famous in Russia, so it was huge work. And yes, answer to the initial question is yes, it's ready for production 🙂

[2020-09-03 11:59] #7 closed

[2020-11-18 20:37] ussuritiger opened #19 "Redux support"
I've landed on this repo page from the showcases page of React Native Navigation. There it says that this starter kit supports both Redux and MobX. I've checked the commit history and found out that support for Redux was removed. Therefore I am wondering whether there was any problem you've encountered while using React Native Navigation with Redux or there are other reasons? Thanks.

[2020-11-18 20:49] kanzitelli commented on #19
Hi @ussuritiger

You are right, starting from v6.0.0 I have left only MobX implementation because I always use it and it became a bit hard to maintain both of them. However, I still believe that it was a good idea to have both implementations.

And no, there was no any problems integrating Redux to RNN. If you'd like to check Redux integration, you can follow to [v5.2.0](https://github.com/kanzite

[2020-11-18 20:58] ussuritiger commented on #19
Thanks a lot @kanzitelli! Will check it out.

[2020-11-18 20:58] #19 closed

[2020-12-19 21:32] kanzitelli commented on #1
closed by #23 in release `v6.4.0`

[2020-12-19 21:32] #1 closed

[2021-05-14 02:01] Ppang0405 opened #36 "expo-screen-capture:compileDebugKotlin build fails: "onChange" override nothing"
https://github.com/expo/expo/issues/12894

### Summary

Expected: Code work.
Actual: Code do not work

### Managed or bare workflow? If you have `ios/` or `android/` directories in your project, the answer is bare!

bare

### What platform(s) does this occur on?

Android

### SDK Version (managed workflow only)

_No response_

### Environment

WARNING: expo-cli has not yet been tested against Node

[2021-05-15 23:38] kanzitelli commented on #36
@Ppang0405 hi there! do you have any reproducible example? Also, it shows that your RN version is 0.64, however, this starter is using 0.63. I am not sure if you have updated any of the libraries.

[2021-05-19 17:02] #36 closed

[2021-06-05 03:41] FawadMahmood opened #38 "React Native new Version support."
Ios hermes engine in latest react native.

[2021-06-05 08:45] kanzitelli commented on #38
Hi @FawadMahmood. Thank you for raising this up! I have started updating all libraries and React Native itself to the latest versions. Also planning to add more Best Practices. So it's going to be a big update and takes some time.

[2021-06-05 22:13] FawadMahmood commented on #38
Looking forward to it, Thank you so much.

[2021-06-22 00:15] kanzitelli commented on #38
Hi @FawadMahmood! I have just published a new version of the starter. It has the latest versions of each library. Also, I have improved the project structure and added some cool features. Enjoy! :)

[2021-06-22 00:15] #38 closed

[2021-07-11 08:18] Yasir5247 opened #43 "Renaming the project doesn't work."
When i ran yarn rename "Aiminaabee" the files inside the ios directory doesn't rename to the new name.

RNNStarter.xcodeproj
RNNStarter.xcworkspace
RNNStarter
RNNStarterTests

These files don't change.

before renaming i updated the app.json file like so:
app.json
{
  "name": "Aiminaabee",
  "displayName": "Aiminaabee"
}

What am I missing here.

[2021-07-11 11:53] kanzitelli commented on #43
hi @Yasir5247. `yarn rename` command uses [react-native-rename](https://github.com/junedomingo/react-native-rename)'s script. So you need to run `yarn rename Aiminaabee` and then run `yarn ios:pods`, so it's fully applied for iOS. Let me know how it goes :)

[2021-07-13 09:39] Yasir5247 commented on #43
This is what i did

1- git clone https://github.com/kanzitelli/rnn-starter.git Aiminaabee && cd Aiminaabee
2- rm -rf .git
3- yarn && yarn ios:pods
4- yarn rename Aiminaabee
5- yarn ios:pods

I can still see the file names not changed inside the ios folder.

❯ yarn rename Aiminaabee
yarn run v1.22.10
$ npx react-native-rename Aiminaabee
npx: installed 80 in 6.206s
Can't find an ios path or project.

[2021-07-13 12:43] kanzitelli commented on #43
hi @Yasir5247. I have just followed the same steps you provided and this what I got:
![Screenshot 2021-07-13 at 14 37 10](https://user-images.githubusercontent.com/4402166/125452934-233cb07d-0a49-4a8e-a20c-a7519ca42f04.png)
![Screenshot 2021-07-13 at 14 37 56](https://user-images.githubusercontent.com/4402166/125452959-5c7efa85-fa96-41d2-8b72-980c3d29be69.png)

I couldn't reproduce your error, unf

[2021-07-13 13:34] leicaand commented on #43
Same problem here

[2021-07-13 13:42] kanzitelli commented on #43
@Yasir5247 @leicaand you can also try [react-native-rename-next](https://github.com/mayconmesquita/react-native-rename-next)

[2021-07-19 00:14] #43 closed

[2021-09-10 11:31] Yasir5247 opened #51 "How to switch between translations?"

[2021-09-10 15:20] kanzitelli commented on #51
@Yasir5247 hey, could specify what you mean?
For more information, you could check the translation service under _src/services/translate/index.ts_ and play around with it. Also, you can add other translations in _translations.ts_ file.

[2021-09-12 05:11] Yasir5247 commented on #51
src/services/translate/translations.ts
I have two objects in the file. one is English and another one is some other language.
I'm trying to switch between languages from the UI. I was hoping if there was a demo to achieve this in this repo if possible.

[2021-09-12 06:53] kanzitelli commented on #51
@Yasir5247
There is no demo in this repo at the moment, but it would be great to have it! I will work on it and release it in one of the next versions (after integrating RN 0.65 in #48, which is almost done).

If you'd like to achieve it now, I can give you some tips:
1. Add `change` function to `src/services/translate/index.ts`
[code]
2. Add UI related code to `src/screens/settings.tsx`
[code]

F

[2021-09-12 17:38] Yasir5247 commented on #51
This is great. This repo saved my life. Good work and appreciate for the effort.

[2021-09-17 18:54] kanzitelli commented on #51
@Yasir5247 you are welcome! I have added a working (production-ready) example in #52 for language switching. Now you can force to use a specific language as well as make it dependent on the system language. The same logic is applied to Appearance settings (light/dark mode).

[2021-09-21 06:00] Yasir5247 commented on #51
<img width="1065" alt="Screenshot 2021-09-21 at 10 57 55" src="https://user-images.githubusercontent.com/472971/134119552-e384fc05-853e-4abe-9d4c-b35729d05325.png">

I wonder how would you go about translation for navigational components. any hint?

[2021-09-21 09:25] kanzitelli commented on #51
hey @Yasir5247! What I usually do is the following:
[code]

And as I see now, It will work only from the app launch, but if you want to toggle in-app language switch, then it's not gonna work, you will need to close the app and then open it again. This might be enough for some cases but I will think about the easiest way to achieve it with in-app switch.

[2021-09-22 21:50] #51 closed

[2021-10-04 09:40] felixmosh opened #55 "How to work with monorepo"
Hi,

Thank you for this awesome starter kit!

I want to use this starter kit as one of the packages inside a monorepo.
Tried to run it and it fails in multiple places.

One of them I've solved by preventing `hoist` of `react-native` packages.

Do you have a config for mono-repo?

[2021-10-04 11:35] kanzitelli commented on #55
Hi @felixmosh! Thank you 🙏

I have never had the experience of setting up a monorepo with this starter, unfortunately. Maybe if you share the errors, I might help you somehow. Plus, it would be cool to have this config for the future!

[2021-10-04 12:48] felixmosh commented on #55
Since monoreo hoisting all the packages on the root `node_module` all the paths to `react-native` stuff are wrong.

I've tried not hoist them, then `mobx`(which was installed at the root level) has import to `react-native` and it fails.

[2021-10-27 04:08] Yasir5247 opened #56 "splash screen"
I think having a splash screen configured in RNN for both ios and android in the starter could be great.

[2021-10-27 14:41] julianklumpers opened #57 "help needed: Convert uni-modules to expo-modules"
Looks like Expo has deprecated uni-modules: [https://docs.expo.dev/bare/installing-unimodules/](https://docs.expo.dev/bare/installing-unimodules/)
And switched to expo-modules: [https://blog.expo.dev/whats-new-in-expo-modules-infrastructure-7a7cdda81ebc](https://blog.expo.dev/whats-new-in-expo-modules-infrastructure-7a7cdda81ebc)

Now I was trying to get it to work for Android with react-native-na

[2021-10-30 13:25] kanzitelli commented on #57
Hey @julianklumpers! That looks great, thanks! Did you manage to run it on iOS? Because I didn't try it yet, I have been busy with writing a small library for RNN called [rnn-screens](https://github.com/kanzitelli/rnn-screens), and I am celebrating my bday today, so I will be probably back at the beginning of the next week, and let's integrate it to `rnn-starter`!

[2021-11-01 08:52] julianklumpers commented on #57
@kanzitelli

Congratulations! with your birthday, hope you had a good day.
For IOS i'm working on it as we speak. Will let you know when i have something. nice that we can intergrate it.

[2021-11-07 06:51] rizwanatta opened #61 "Issue of Eslint latest versioning"
- Eslint versioning is causing Eslint Failure had to revert back to

    "eslint": "^7.14.0"

  in order get passed to warnings and errors and lint being able to work in Webstorm or VsCode

  cc @kanzitelli  did you get it working ( RN latest version supports older Eslint package )

[2021-11-08 13:53] kanzitelli commented on #57
Hey @julianklumpers! Thank you so much for congrats 🙏 so yeah, the celebration was good and gave me the motivation to work more! So hopefully, I will spend more time on this issue and could help you as well.

[2021-11-08 13:59] kanzitelli commented on #61
Hey @rizwanatta! Thanks for raising this up! I don't see any issues with Eslint on my machine with rnn-starter and everything seems to be working with the latest version. Can you elaborate more on that?

[2021-11-15 07:20] Yasir5247 opened #62 "For Graphql people can we create the client like this and instantiate on start. this is just an idea"
[code]

[2021-11-21 17:28] kanzitelli commented on #62
Hello @Yasir5247! Is this a question? Or have you already tested this GQL service?

[2021-11-21 19:34] #61 closed

[2021-11-21 19:39] kanzitelli commented on #57
Hey @julianklumpers! I have created [expo-modules](https://github.com/kanzitelli/rnn-starter/tree/expo-modules) branch where Expo Modules are integrated and the app runs on iOS and Android successfully. If everything works out good, I will add it in the documentation.

[2021-11-21 20:13] julianklumpers commented on #57
Hi @kanzitelli. Great to hear it working and will be integrated into this package. Sorry for not responding anymore, was very busy with work.

[2021-11-22 13:46] kanzitelli commented on #57
Hey @julianklumpers! That's all right, thank you for the opening this issue and helping out! I will close this for now and add the branch into docs.

[2021-11-22 13:46] #57 closed

[2021-11-30 08:28] Yasir5247 commented on #62
I have not tested it. but it's a good thing if we can have it.

[2021-11-30 08:29] Yasir5247 opened #63 "react-native-debugger not connected"
I was trying to connect react-native-debugger but the app goes blank without any errors from the console.

[2021-12-22 04:30] rizwanatta opened #64 "Flipper not able to pick the application from Simulator"
attached image show even though the application is on i am unable to see the application in FLIPPER

## what i have done so far is
-  I have unCommented the code for initilasing Flipper in MainApplication.java file
- i am able to see hermes based logs
- but Network plugin is what i wanna keep eye on ( which becomes unavailable )

## QUESTION

are there any other steps that we should do to enable f

[2021-12-22 05:11] rizwanatta commented on #63
can you elaborate a little more what you have tried to solve the issue! any reproduceable steps @Yasir5247

[2021-12-22 12:37] kanzitelli commented on #64
Hi @rizwanatta!

I am seeing the same screen as you do.
Why was it commented in the first place? Honestly, I don't remember but probably it was breaking something.

I don't usually use any debugging tools like Flipper, I go straight with Xcode or Android Studio, and terminal for logs.
But it's strange that it's not working, everything seems to be set up correctly.

Try to reach out Discord channel

[2021-12-22 16:04] rizwanatta commented on #64
@kanzitelli hi!

i am pretty sure its how rnn-starter is set up, i am using RNN in another navigation app and it works just fine with Flipper , for now with rnn-starter i am using Reactotron to Trace Network logs and stuff but will be looking for a solution ASAP! and will raise a PR for it

[2021-12-22 22:10] kanzitelli commented on #64
Hello @rizwanatta!

That also might a reason, right. If you would find a solution, you are more than welcome to create a PR. Thank you!

[2021-12-23 18:28] Yasir5247 commented on #63
i guess its not possible to run react-native-debugger if re-animated library is installed. have to use flipper

[2021-12-30 18:17] pruge commented on #63
I installed it by running:

It works fine.

However, when entering debug mode, the app is forcibly terminated and no error message is displayed.

Here is the part caught by adb logcat.

[code]

[2021-12-30 18:33] kanzitelli commented on #63
hey @pruge! Thank you for reporting the issue! The progress also might be found in #64.
There is probably a small issue with setting up RNN. I'll check it out asap! Or maybe @rizwanatta has already solved this? 🙂

[2021-12-31 00:04] kanzitelli commented on #63
@pruge so the issue with `react-native-debugger` and `debug` mode is that they can't work together with `react-native-reanimated`. You will need to use Flipper for debugging as @Yasir5247 noted here before. Flipper progress is at #64.

[2021-12-31 00:04] #63 closed

[2021-12-31 00:07] #62 closed

[2021-12-31 00:07] #56 closed

[2021-12-31 00:09] kanzitelli commented on #64
hey @rizwanatta!

So it's working for me now. I don't know what exactly fixed the problem but it started working after updating all the packages and updating Flipper.

<img width="1280" alt="Screenshot 2021-12-30 at 23 34 31" src="https://user-images.githubusercontent.com/4402166/147795490-9c81f4ec-d258-476d-b576-5f8e69a5b90b.png">

I will publish the update asap. But there is another issue with `

[2022-01-03 00:35] djdabs opened #65 "how to set headerShown to false on screen"
Hello! Thank you for this starter package, great way to get going quick.

I've been struggling to find a way to set headerShown flag on the screens. Tried both in ScreenLayouts and in Screen settings, but neither worked.

Any suggestions on where I need to go to implement this option?

[2022-01-03 13:26] kanzitelli commented on #65
hi @djdabs!

Yes, `headerShown` is not going to work because this starter is using [React Native Navigation](https://github.com/wix/react-native-navigation). If you'd like to hide nav header in RNN, you need to change `topBar.visible` option to `false` for desired screens.
[code]

If you want to use React Navigation instead, you need to check out [rn-starter](https://github.com/kanzitelli/rn-start

[2022-01-04 00:58] djdabs commented on #65
oh oops! i feel silly for missing that. Thank you for the quick reply!

[2022-01-06 06:42] Yasir5247 opened #66 "React native navigation + expo modules support"
Hi,
this is not an issue, rather a question.  i had the main branch cloned into my computer. now the issues is i want to use an expo module in my project. went back to expo documentation and try to install the packages. got me errors which lead me to some articles saying expo and rnn-navigation doesn't work together. up on further research i noticed there's a expo integration branch in the repo. s

[2022-01-06 14:06] kanzitelli commented on #66
Hi @Yasir5247!

I'd recommend to try the second option. The fastest way would be to follow this comparison between two branches - https://github.com/kanzitelli/rnn-starter/compare/expo-modules and apply necessary changes to your existing project.

Let me know how it goes :)

[2022-01-06 14:07] kanzitelli commented on #65
@djdabs no worries! Glad it's helped :)

[2022-01-06 14:07] #65 closed

[2022-01-08 08:34] Yasir5247 commented on #66
Thank you as always. :)

[2022-01-08 08:38] Yasir5247 commented on #66
Hi, i have another question. i have this pincode screen, goal is to add a pincode screen to protect the app. and this screen pop's when the screen comes from background. so if i had two layouts root and tabscreens. the pincode screen login will go to the first screen of the tab screen right?

[2022-01-08 14:30] kanzitelli commented on #66
@Yasir5247 I have released version `12.0` with the full support of Expo Modules, so now if you want, you can just clone it again and replace with your code, as the project's structure has not been changed :)

About PinCode screen. I'd recommend maybe to do it using an [Overlay](https://wix.github.io/react-native-navigation/docs/overlay)? Once the app comes from background, you could just show it a

[2022-01-14 10:12] Yasir5247 commented on #66
so, here is what i did. i cloned the project. and added the new libraries from the old project. but my project is getting failed due to this error.

** BUILD FAILED **

The following build commands failed:
        CompileC /Users/drgrey/Library/Developer/Xcode/DerivedData/RNNStarter-edawyxwbjiabttfmrjufaeqrzjyw/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-date-picker.b

[2022-01-14 11:25] Yasir5247 commented on #66
My pod file

[code]

[2022-01-14 11:29] kanzitelli commented on #66
@Yasir5247 It seems like you need to clean `DerivedData` of the project. Go to `/Users/drgrey/Library/Developer/Xcode/DerivedData` and find the one you developed before and now, and delete those folders. Then open Xcode again and try to build.

Otherwise, everything looks good.

[2022-01-14 12:02] Yasir5247 commented on #66
great. quick question.

if i want to install contacts from 'expo-contacts',

i have to install expo cli globally and run expo install expo-contacts in the project folder right.

[2022-01-14 12:09] kanzitelli commented on #66
I usually use `yarn add expo-...` and it works well :)

[2022-01-14 12:11] Yasir5247 commented on #66
here is what i do after installing a new library.

const exec = require('shell-utils').exec;

run();

function run() {
  exec.killPort(8081);
  exec.execSync(`watchman watch-del-all || true`);
  exec.execSync(`adb reverse tcp:8081 tcp:8081 || true`);
  exec.execSync(`rm -rf lib/ios/DerivedData`);
  exec.execSync(`rm -rf %appdata%\Temp\react-native-*`);
  exec.execSync(`rm -rf $TMPDIR/react*`);
  e

[2022-01-14 16:10] kanzitelli commented on #66
From the script I can see that you remove `lib/ios/DerivedData` library, I've never seen it before. So I recommend to check this path as I mentioned before: `/Users/drgrey/Library/Developer/Xcode/DerivedData`.

If it doesn't help, try to downgrade the library.

I have removed `@react-native-community/datetimepicker` from the starter as it's an optional dependency for RN UI Lib, but before it was w

[2022-01-14 20:04] Yasir5247 commented on #66
@kanzitelli somehow, its works fine now with the clean script i had. :)
Thank u for the help. i tested out one expo library and it works fine. date picker works fine too.

does this mean i can now use Expo Application Services (EAS) in my application now. right now building for ios and android is so much pain.

Thank you as always for the help. : )

[2022-01-15 13:42] kanzitelli commented on #66
@Yasir5247 that's great news! Glad I could help :)

Then, I'm closing the issue.

[2022-01-15 13:42] #66 closed

[2022-01-17 05:38] Yasir5247 commented on #43
![photo_2022-01-17_10-35-13](https://user-images.githubusercontent.com/472971/149713517-3f39a286-950a-4d48-8d25-2887e578912c.jpg)

renaming the project still doesnt work for me. i tried with windows, and with a friends computer. still ios directory folders name starts with RNNStarter. what am i missing here.

my app.json file.
{
  "name": "Aiminaabee",
  "displayName": "Aiminaabee"
}

[2022-01-18 07:43] Yasir5247 opened #70 "Renaming the app doesn't work"
This is the command i'm using to install the starter

cli-rn new Aiminaabee -b com.aiminaabee.pro -t rnn

However still the ios directory name is RNNStarter.

I tried with sudo too.

any ideas?

[2022-01-18 10:24] kanzitelli commented on #70
@Yasir5247 I can not reproduce this. When I run the command you sent I get the following

![Screenshot 2022-01-18 at 11 21 13](https://user-images.githubusercontent.com/4402166/149918954-b30e36de-65e0-4ab0-b52d-48b01a5623d4.png)

[2022-01-18 16:17] Yasir5247 commented on #70
![photo_2022-01-17_10-35-13](https://user-images.githubusercontent.com/472971/149975753-36d88b29-68b4-40b7-8419-9192f617c55c.jpg)

i'm not sure why it cant file the file as seen the screen shot

[2022-01-18 17:19] kanzitelli commented on #70
@Yasir5247 I think `react-native-rename` doesn't support Windows. If you look closely, you will see that Windows has `D:\node\MoonApp` path, however `react-native-rename` is trying to access `D:/node/MoonApp` where slashes are different. Probably this is what causing a problem.

Try using [`react-native-rename-next`](https://github.com/mayconmesquita/react-native-rename-next) which, as they state,

[2022-01-18 17:58] Yasir5247 commented on #70
I couldn't get it on my mac so i tried using windows.  doesnt have to do anything with NPM or node version.

mine is:

node: v16.13.1
npm: 8.3.1

[2022-01-18 20:38] kanzitelli commented on #70
did you try react-native-rename-next?

[2022-01-19 05:12] kelvin-dev opened #71 "[Performance issue] To many errors log during run-time"
Hi team, please help resolve run-time error logs, we love and appreciate your work

[code]

[2022-01-19 05:27] Yasir5247 commented on #70
@kanzitelli hi, react-native-rename-next worked. Thank you as always. :)

[2022-01-19 06:39] Yasir5247 commented on #71
for me. i removed mmkv library and switched to asyncstorage and things started working fine.

[2022-01-19 13:15] rizwanatta opened #72 "Writing Tests for a single Function causes Dilema of test failures"
hey @kanzitelli  ! love this template! i am having couple of issues while testing ! i able to mock every other package i introduced in the template above your provided ones. but the react-native-ui-lib's usage in DesignSystem is not by passing the mocks at all

any solution on that or insight ! a  mock folder you wrote for the tests ?

[2022-01-19 20:49] kanzitelli commented on #71
@kelvin-dev hey! I have seen this error in RN community in different libraries. So it could be connected to RN itself, Reanimated, or MMKV as @Yasir5247 mentioned. People do some workarounds but I didn't see any solid solution.

[2022-01-19 20:52] kanzitelli commented on #72
@rizwanatta hey! thank you! I have not set up any tests for this template yet and been using mostly e2e tests. If there is any issues with RN UI Lib, try to reach them through opening issue or Discord channel.

[2022-01-20 05:08] Yasir5247 commented on #71
@kanzitelli https://github.com/mrousavy/react-native-mmkv/releases/tag/v2.0.0 does this mean we can safely remove JSI Module package in the MainApplication.java right

[2022-01-25 10:28] hotrush opened #73 "Top bar button on Android TV"
Hello, regarding your boilerplate for tv - is it possible to make left/right buttons in top bar focusable? I mean select and click them using remote keys or keyboard arrow buttons?

[2022-02-01 00:10] kanzitelli commented on #73
Hey @hotrush. This starter has not been tested on TV devices. However, there is some work done in that direction -- https://github.com/react-native-tvos/rnn-starter-tv. Also, you can check more examples in [react-native-tvos](https://github.com/react-native-tvos).

[2022-02-01 08:36] hotrush commented on #73
I was talking about https://github.com/react-native-tvos/rnn-starter-tv actually, issues are disabled there. Missed that owners are different for these repos, sorry.

[2022-02-01 08:36] #73 closed

[2022-02-12 18:12] Albermonte opened #74 "Expo Modules not working due to expo-file-system"
Seems like any Expo module that needs file system operations won't work.

I have prepared a [small example](https://github.com/Albermonte/rnn-starter), but basically just add any module that depends on expo-file-system like Font, AV, GL... to this project and it won't work. This is the error:

[code]

I couldn't find any solution online, but I'm guessing it comes from the expo package and probably

[2022-02-13 19:23] kanzitelli commented on #74
hey @Albermonte!

It was done in purpose as Expo SDK 44 with all related packages support RN 0.64 (if I am not mistaken), however the starter uses as newest version as possible (RN 0.66.4). So there was a problem running `expo-file-system` package with current RN version and I have just excluded it from the builds. You can check it in `package.json`->`expo`->`autolinking`.

I am pretty sure it wil

[2022-02-13 19:23] #72 closed

[2022-02-13 19:24] #70 closed

[2022-02-14 16:35] Albermonte commented on #74
Oh okey, didn't see that line. Now everything makes sense, deleting those lines and downgrading works. Thanks

[2022-02-28 08:15] phathuynh5519 opened #77 "[Non-runtime] Too many issue from ESLint screenings"
Folks, The sourcebase has too many issues  from ESLint screenings, please help us resolve the eslint issues, all tsx files get warning issues from the VSCode IDE,
[code]
![image](https://user-images.githubusercontent.com/59623591/155948445-b488eb2a-2f8b-48c7-a748-ac5b96ab7e46.png)
Thanks A LOT

[2022-02-28 14:07] kanzitelli commented on #77
hey @phathuynh5519, thanks for reporting the issue!

Can you check 13.0.1 version please?

[2022-03-01 14:43] phathuynh5519 commented on #77
Bro, what modules do u mean ? 13.0.1 ? latest eslint version is 8.10.x

[2022-03-01 14:48] phathuynh5519 opened #79 "[Run-time] Too many warnings from "Possible Unhandled Promise Rejection""
Folks, please help investigate the issue abt expo-file-system.downloadAsync, it causes too many warnings, if possible please remove the module from the starter kit, there are other options, lets focus on the core needs,
Cheers,

[code]

[2022-03-01 14:50] kanzitelli commented on #79
explanation is here #74

[2022-03-01 21:48] phathuynh5519 opened #80 "[Module request] Please support native drawer | side menu"
Folks, most of mobile apps need drawer, please help integrate it into the starter kit
https://raw.githubusercontent.com/LukeBrandonFarrell/open-source-images/master/react-native-navigation-drawer-extension/left-drawer.gif
https://raw.githubusercontent.com/LukeBrandonFarrell/open-source-images/master/react-native-navigation-drawer-extension/bottom-drawer.gif
Ref: https://github.com/lukebrandonfarre

[2022-03-01 22:45] phathuynh5519 opened #81 "[Module request] Support Styled component"
Folks, we love your work and effort, please help expand our communities by supporting Styled component developers to enable their communities to approach our rnn-starter kit faster, more friendly and more intuitively thanks to their current front-end stacks
Ref:
1. [https://styled-components.com/docs/faqs](https://styled-components.com/docs/faqs)
2. [https://blog.logrocket.com/how-to-use-styled-co

[2022-03-15 21:45] #79 closed

[2022-03-15 21:45] #77 closed

[2022-03-15 21:46] #64 closed

[2022-03-15 21:47] #71 closed

[2022-03-15 21:52] kanzitelli commented on #80
I would not agree that most of mobile apps need drawer. It's better to use tabs, more UX friendly. Plus, the drawer is not officially supported by RNN, it's just a workaround. However, if you'd like to use that library, I believe that there is easy installation instructions.

[2022-03-15 21:52] #80 closed

[2022-03-15 21:55] kanzitelli commented on #81
I do not see any point of doing so. `styled-components` library was used before in this starter but was replaced in favour to RN UI Lib as it's created specifically for RN and supports design system which is important. However, `styled-components` could be easily installed and used in any project.

[2022-03-15 21:55] #81 closed

[2022-04-06 08:53] anttyc opened #86 "What is the best practice with rnn-screens to handle Authentication States?"
Hi, hope it's ok that I post here and thank you for taking the time to read this. Love what you've done here, but I can't figure out what would be the best way to handle the change in Auth States.. e.g

[code]

I'd normally handle this in App.tsx with RNN, e.g

[code]

But it isn't clear to me how to do this with `registerRootComponent`. I've successfully (hackily) used `screens.N.setRoot(AuthStac

[2022-04-06 13:29] kanzitelli commented on #86
Hey @anttyc!

RN and RNN have a bit different way of building navigation, so it might be hard to achieve the exact same way in RN and RNN.

Your "hack" is actually the way to go as it's done in `rnn-screens` ([here](https://github.com/kanzitelli/rnn-screens/blob/main/src/screens.tsx#L174)).

What I usually do with RNN in this case, I show my main app (let's say it's a tab based app) and then on th

[2022-04-07 02:28] anttyc commented on #86
Awesome! Your second suggestion is how I ended up doing it, just wanted to make sure I wasn't missing anything. Let me try your first suggestion as that seems more elegant.

Thanks so much @kanzitelli  for the quick and detailed reply.

[2022-04-07 08:42] #86 closed

[2022-05-16 09:31] Yasir5247 opened #89 "having trouble installing a library."
i'm trying to install a library into this project. i'm having problems with IOS. however android works fine.

library i'm trying to integrate: "@regulaforensics/react-native-face-api": "^3.2.2",

"expo": "44.0.4",
"react-native": "0.66.4",
"react": "17.0.2",

displayed error:

CompileC /Users/drgrey/Library/Developer/Xcode/DerivedData/Efaas-erhnfmibjtyemcgrjoozyfgpkdar/Build/Intermediates.noindex/

[2022-05-17 12:28] kanzitelli commented on #89
Hey @Yasir5247, this kind of issues is not relevant to this repo as it’s not a library or package, it’s just a RN app with opinionated project structure.

However, from the first glance, I can say that the error is about duplicate interface definition. This usually happens when RN versions are not compatible. Also, their demo project has RN 0.67 version but yours is 0.66. Try updating your project

[2022-08-29 23:16] #89 closed

[2022-08-30 19:58] ardasatata opened #95 "Error "Unable to resolve module""
<img width="393" alt="Screen Shot 2022-08-31 at 2 57 44 AM" src="https://user-images.githubusercontent.com/17568508/187531394-27648d3f-c624-4508-be14-eea2f6ab432d.png">

## Summary
Hi I'm encountering this issue right after init with `> npx cli-rn new App -t rnn` command
I had to comment on these components to prevent the error
[code]

## Steps to reproduce

1. `> npx cli-rn new App -t rnn`
2. `ya

[2022-08-31 14:02] kanzitelli commented on #95
hey @ardasatata! Thanks for reporting the issue.

I have checked and realised that some files under `components` folder are uppercase when they should be lowercase. This somehow happened while updating to RN 0.69.
So what you need to do it to rename all files under `components` folder to lowercase and also change imports to lowercase in files under `screens` folder. Example: `'../components/Sectio

[2022-08-31 16:29] ardasatata commented on #95
Thanks! I'll check it tonight. 🙌🏼

[2022-09-05 17:05] Yasir5247 opened #98 "App wouldn't start with old code structure."
Hi, @kanzitelli you have saved me from lot of troubles and i'm very grateful to u.  Thank you for maintaining this starter kit.
Here is my problem. After upgrading to the latest changes i can't use this old following code structure. if i convert the old way to new way using 'rnn-screens' it works. but i have huge code base and conversion to 'rnn-screens' is not option for me right now. is there an

[2022-09-05 22:20] kanzitelli commented on #98
Hi @Yasir5247! Great to hear that it helped you!

Regarding the error, it seems like that ‘screens’ are being used somewhere in the code base.
What i would recommend is to remove ‘rnn-screens’ completely from the project, and just copy code manually for ‘Root’, ‘Component’, etc. from the library. Maybe it’ll help. And also run ‘yarn start’ with ‘--reset-cache’ option, just in case.

Let me know ho

[2022-09-06 11:57] Yasir5247 commented on #98
Hi, @kanzitelli i'm not sure if followed you there. "and just copy code manually for ‘Root’, ‘Component’, etc. from the library."

[2022-09-06 11:59] kanzitelli commented on #98
@Yasir5247 i meant just to take the code from here — https://github.com/kanzitelli/rnn-screens/blob/main/src/layouts.tsx. Because i’ve seen in the code that you are using them

[2022-09-06 12:20] Yasir5247 commented on #98
i'm not sure if there's any difference.

/src/services/navigation/layouts.ts

[code]

/src/services/navigation/index.ts

import {Constants, Navigation, NavigationConstants, Options} from 'react-native-navigation';
import {gestureHandlerRootHOC as withGestureHandler} from 'react-native-gesture-handler';
import pipe from 'lodash/flowRight';
import AsyncStorage from '@react-native-async-storage/async

[2022-09-06 15:41] kanzitelli commented on #98
@Yasir5247 yeah, the main point of doing that is to remove rnn-screens completely from your project. Because the error says that you are referring to ‘screens’.

Does it show any error now?

[2022-09-07 06:04] Yasir5247 commented on #98
@kanzitelli removed 'rnn-screens' completely and cleaned the project using 'react-native-clean-project' package. and it worked. i didn't changed anything related to pervious version of navigation handling.  thank you for the help. :)

[2022-09-07 16:50] kanzitelli commented on #98
@Yasir5247 great to hear! probably it was a cache error or something. then I'm closing the issue.

[2022-09-07 16:50] #98 closed

[2022-09-07 18:48] FawadMahmood opened #99 "Back event does not work when on root activity"
firstly thank you for such great work and keeping this repo updated.

When we are on the root activity back button does not work, maybe a bug from Wix native navigation.

Also crashes on release complete and sometimes on debug.

[2022-09-07 19:27] kanzitelli commented on #99
hey @FawadMahmood! glad to hear that!

could you provide more information about your navigation and screens structure? are you using rnn-screens? any extra logs, video or reproduction repo would be also helpful :)

[2022-09-07 20:52] FawadMahmood commented on #99
Well, there are a few issues I see,

Release build crashes with the following error

couldn't find DSO to load: libjscexecutor. so
also
couldn't find DSO to load: liberties-executor-debug. so

To reproduce, please just create a release build of the same working repo of this codebase.

Secondly, for the back button issue, you can try pressing the hardware back button on the root activity of tabs.

[2022-09-07 21:15] FawadMahmood commented on #99
I am sharing error issues in Latest version of this repo without making any changes.

[2022-09-07 22:54] kanzitelli commented on #99
There are a lot of issues regarding “Couldn’t find DSO to load” in react-native repository. For example, this solution helps people — https://github.com/facebook/react-native/issues/25537#issuecomment-1182498993

Hardware back button from root activity is broken indeed. I just tested and it freezes navigation for the same times you press on back button. Probably, that’s the issue with RNN and late

[2022-09-07 22:59] FawadMahmood commented on #99
Hello brother, I have a working of this repo on React Native .70, I can send a pull request or can share the repo with you.

That has no release build issues I have checked.

Also, there’s one more issue I see, using withObserver causing an issues with React Native fast refresh on screens.

[2022-09-07 23:14] kanzitelli commented on #99
Yes, sure, PR would be great!
Because I’ve started RN 0.70 integration to [starters-dev/rnn-with-expo](https://github.com/starters-dev/rnn-with-expo) (that’s where i test first), but had problems with iOS part and Hermes framework not being found. There are some open issues and a solution (but not a stable one).

But still I had the issue with back button on RN 0.70 and RNN 7.30.0-alpha1. Do you s

[2022-09-07 23:27] FawadMahmood commented on #99
No the back button issue is still there, even I have upgraded react native and expo,

- to check the fast refresh issue please try to change anything on any screen it'll not show fast refresh changes on device, however it works for the components, but all components using withObserver it is not working.

[2022-09-08 01:40] Yasir5247 commented on #98
@kanzitelli sorry to trouble you. but i have trouble in android build.

After gradle sync

[code]

Expo EAS

eas build --platform android --profile preview

[code]

[2022-09-08 05:36] kanzitelli commented on #98
@Yasir5247 I was not experiencing issues with `CMake` but I have seen it's happening to people. Probably it will be fixed in RN 0.70 as they moved to `CMake` by default. Try checking this - https://github.com/mrousavy/react-native-vision-camera/issues/588#issuecomment-972589478.

And the second issue happens because `sdkmanager` is not installed. You can install it through Android Studio. https://

[2022-09-08 05:39] kanzitelli commented on #99
Yeah, that is right, didn't mention it before 😄 so just remove `withObserver` and wrap each screen with `observer(...)`. I've sent the commit.

[2022-09-13 03:49] FawadMahmood commented on #99
Yes it does fixes the issue, Thank you.

I have sent the pull request with v.70 React Native and tested it with 2 working projects already, I see no issues so far.

[2022-09-13 20:04] #99 closed

[2022-09-13 20:07] kanzitelli commented on #99
Hello @FawadMahmood! Thank you for your contribution! I have created another PR and mentioned you as a co-author.

[2022-09-14 10:29] FawadMahmood commented on #99
Happy to see this new update, Thank you for keeping this repository updated, it really help :)

[2022-09-14 18:57] vitorcalvi opened #102 "** BUILD FAILED ** IOS Device"
react-native run-ios --device
warn Package react-native-navigation contains invalid configuration: "dependency.assets" is not allowed,"dependency.hooks" is not allowed. Please verify it's properly linked using "react-native config" command and contact the package maintainers about this.
warn Package react-native-ui-lib contains invalid configuration: "dependency.platforms.ios.project" is not allow

[2022-09-14 19:11] kanzitelli commented on #102
You need to “Select a development team in the Signing & Capabilities editor.” as it’s stated in the error. Please, read the error carefully before posting the issue. You need to do it using XCode.

[2022-09-14 19:29] vitorcalvi commented on #102
Thanks, but i did. Bellow follow the img link
https://i.imgur.com/2clyLed.png

[2022-09-14 19:35] kanzitelli commented on #102
Hmm, that’s weird then, i’ve been testing debug and release modes yesterday and it was alright. Did you also run it through XCode?

[2022-09-14 19:43] kanzitelli commented on #102
Also the weird thing is that it shows “(null)” for device type, maybe it can’t detect the device.

[2022-09-14 19:46] vitorcalvi commented on #102
Unfortunately. AN issue that we can notice, i changed my node 18 to node 16. It maybe unstable the system. I Guess. I will try another things. I liked the RN Project and we will use to make our Apps

[2022-09-14 20:00] kanzitelli commented on #102
Yes, React Native requires node 16 now, maybe that’s the problem. However, if you find the solution, let me know!

Great to hear that! Share your app once it’s done :)

And feel free to write here. I’ll close the issue for now then.

[2022-09-15 10:07] vitorcalvi commented on #102
Thanks, In IOS Simulator is ok. Working pretty well.
But in IOS device it doen't working, can you help :)

react-native run-ios --device
warn Package react-native-navigation contains invalid configuration: "dependency.assets" is not allowed,"dependency.hooks" is not allowed. Please verify it's properly linked using "react-native config" command and contact the package maintainers about this.
warn

[2022-09-15 12:28] kanzitelli commented on #102
I don’t know, i always test on a real device in debug and release modes. Error says again that “Expo Constants” library requires a development team. What i would recommend is to clean the project, install node modules and pods again and run it through XCode (not terminal).

[2022-09-15 23:18] vitorcalvi commented on #102
Great! I try by Xcode and Unsupported Swift version issue.
https://imgur.com/a/JKkXFMa

[2022-09-16 03:47] kanzitelli commented on #102
that’s is okay, it doesn’t break anything. just press OK button and run the project.

[2022-09-16 10:38] vitorcalvi commented on #102
It doesn't work
https://imgur.com/a/9pL4Y5z

[2022-09-16 10:38] #102 closed

[2022-09-16 10:45] vitorcalvi commented on #102
Android Studio doesn't work too
https://imgur.com/a/Q5nOdab

[2022-09-16 10:53] kanzitelli commented on #102
try running ‘yarn android:adb’ script. if it won’t help, do ‘yarn android’.
also all the problems you mentioned are not starter’s issues, they are related to RN. please use google before posting them

[2022-09-17 10:17] vitorcalvi commented on #102
Finally, it's working :)))) Working on Android and IPhone device 👍 Let's happy coding  

[2022-09-17 10:19] vitorcalvi commented on #102
Another, i did,  yarn rename "NewApp" -b com.yourcompany.newapp, but the ios folder is still in RNNStartet, i googled for change it and turn it in to my app name but i can't. Can you help me. Thanks

[2022-09-20 06:17] Yasir5247 commented on #98
@kanzitelli for the second question. trust me i tried every way before coming to you. also i have gone through that link and installed cmdline-tools. its installed into ../Library/Android/sdk/cmdline-tools/latest/bin/sdkmanager still same line.

Cannot run program "/home/expo/Android/Sdk/cmdline-tools/latest/bin/sdkmanager"

same error. ios builds good though.

any suggestions.

[2022-09-24 10:19] FawadMahmood opened #103 "Feature request: Splash screen in RNN Starter"
Hi @kanzitelli, brother I have working examples for Splash screens in RNNStarter, tested on a release app in one of my projects already find no issues so far.

Do I make a pull request if this feature is needed in this repo?

Can make all of these working, Custom Splash Screen, react-native-splash-screen, react-native-bootsplash.

[2022-09-25 12:18] kanzitelli commented on #103
Hi bro @FawadMahmood!

That's awesome! I've seen some discussions about having Splash screen configured with RNN, but no luck. That definitely would be great to have this in the starter. I have created [`splash-screen`](https://github.com/kanzitelli/rnn-starter/tree/splash-screen) branch where we can make some experiments with that and also will add that to `Enhancements` section with explanation.

[2022-09-25 12:24] kanzitelli commented on #98
Hi @Yasir5247! Well, it looks like you've done everything correct, but the script still can not be run because of the wrong directory. As I remember, this error `Cannot run program "/home/expo/Android/Sdk/cmdline-tools/latest/bin/sdkmanager"` comes from React Native Navigation app's `build.gradle` file. You can check it here - https://github.com/wix/react-native-navigation/blob/master/lib/android/

[2022-09-25 13:37] Yasir5247 commented on #103
@kanzitelli @FawadMahmood. ok to start. i came from a web background, now trying login into mobile world. i'm very less experienced than you guys. and you guys are awesome. thank you :)
but, this question is bugging me for a very long time. why not make this easy by creating a config plugin for RNN with expo. this way we can use all the benefits that comes with expo and also we get the awesome RNN

[2022-09-25 13:58] kanzitelli commented on #103
@Yasir5247 thank you! and your thoughts are reasonable and correct. it would be much easier. I am trying to achieve that since they introduced config plugins (time to time). I could make it run on iOS but with some weird behaviour. I don't remember exactly what but it was not ready for production. I will try to do that with new SDK 46 (RN 0.69) and will definitely share that. But it will anyways n

[2022-09-25 14:28] Yasir5247 commented on #103
@kanzitelli by the time i realised react-navigation is "NATIVE" using 'native-stack' my project became huge with RNN 😀. anyways right now i am changing my code base to [expo-starter](https://github.com/kanzitelli/expo-starter) as expo offers "config-plugins" and "expo-dev-client".
with [rnn-starter](https://github.com/kanzitelli/rnn-starter). let's say i want to use oneSignal notification. i have

[2022-09-30 19:09] Yasir5247 opened #104 "Harware back button on android closes the app on the last tab."
image i had three tabs in my app.

Tab1 -> Tab2 -> Tab3

on Tab3 if i press hardware button on android it directly closes the app like this

close <- Tab3(press)

here is how i feel it should be when the user press hardware back button on Tab3

close <-Tab1 <- Tab2 <- Tab3(press)

possible solutions according to i know:
-----------------------------------------
On Tab3 if the user press the hardwa

[2022-09-30 23:45] kanzitelli commented on #104
This issue is not related to the starter. It's behaviour of RNN how it is. The only solution that comes to my mind is to subscribe to tab presses, save the history and on hardware back button press navigate back according to the stack. This kind of behaviour is automatically achieved in react-navigation as it uses different approach.

[2022-10-01 20:53] Yasir5247 commented on #103
Hi @kanzitelli,
i'm trying to add splash screen the hardway. but i don't see setSplashLayout in MainActivity.java file now.
as of now. what is my best option to add splash screen to both android and ios?

[code]

[2022-10-01 21:00] kanzitelli commented on #103
hey @Yasir5247! I won't be much help in this as I've always tried to avoid using splash screens. Let's wait patiently till @FawadMahmood could do the integration.

[2022-10-02 12:25] Yasir5247 commented on #103
@kanzitelli i will be testing the new Navio package this weekend. however i would like to know if its possible to set splash screens natively. like how i did before using setSplashLayout()?

[2022-10-02 12:29] kanzitelli commented on #103
@Yasir5247 yes, you will be able to use splash screen with Expo. They have dedicated library for that as it's used here -- https://github.com/kanzitelli/expo-starter/blob/master/App.tsx#L27

[2022-10-02 12:39] FawadMahmood commented on #103
I am working on it today and will come up with an update asap.

what are your suggestions? @react-native-splash screen or boothsplash ?

[2022-10-02 12:46] Yasir5247 commented on #103
@FawadMahmood i don't mind any. i just want to create a simple splash screen in my project. which ever has the least configuration to set it up i will go for it. 😃

[2022-10-03 10:06] #104 closed

[2022-10-05 20:45] vitorcalvi opened #106 "Incorrect peer dependency react-native-ui-lib > react-native-redash > use-memo-one@1.1.2"
When trying to eas build a warning issue come up:
warning "react-native-ui-lib > react-native-redash > use-memo-one@1.1.2" has incorrect peer dependency "react@^16.8.0 || ^17.0.0".

[2022-10-13 01:22] lanyusan opened #107 "How to implement pull up to load more with your boilerplate?"
Hello,  thanks for this great boilerplate, which helped me a lot to get started.

I am quite familiar with React but new to react native.

I have found out pull to refresh is quite easy with RN built in list view or other libraries. But I haven't found a good way to implement pull up to load more.

The built in RN list view has a reach end event but it is fired just once and in case load more fail

[2022-10-13 07:41] Yasir5247 commented on #107
@lanyusan. i'm using like this with graphql. hope this helps. :)

[code]

[2022-10-13 10:53] kanzitelli commented on #107
hey @lanyusan! This issue/question is not related to the starter, as it’s about RN itself.

In my practice, i have never used “pull up to load more” approach. i have been mostly loading more data when a user reaches the end of the list (always showing loading indicator as a list footer). In this case, the trick can be achieved by using onEndReachedThreshold, onEndReached and onMomentumScrollBegin

[2022-10-13 13:17] lanyusan commented on #107
I asked here because I was wondering your screen wrapper probably had some sort of events that would be fired when entire screen was rendered but user still tried to swipe screen up.

Pull up to refresh is quite common for social media apps for example reddit, esp. when mobile network could interrupt loading more triggered by reaching end of list event. User could then pull up to load more.

I hav

[2022-10-13 16:18] kanzitelli commented on #107
@lanyusan great that it worked for you! i usually show button to load more instead of loading indicator when a request fails.

[2022-10-13 16:18] #107 closed

[2022-10-19 10:13] Yasir5247 commented on #103
@kanzitelli @FawadMahmood sorry, i had to ask this question here. but i just want to know how you guys
handle deep links with react-native-navigation. here is my progress so far. when the user clicks push notification
i would like to open the app and redirect user to the MailDetailScreen and show the appropriate message. because
i'm passing messageId i get from oneSignal's additionalData object an

[2022-10-19 15:19] kanzitelli commented on #103
hey @Yasir5247! My knowledge about deep linking is very basic, so I won't be much help in this. I think RN and Expo provide some good tutorials about that.

But the thing I didn't get is "but the tab bar is not seen". What do you mean by that? Isn't it being rendered?

[2022-10-20 20:41] #103 closed

[2022-10-20 20:46] kanzitelli commented on #106
the warning is coming from `react-native-ui-lib` and once they fix it, it will go. you can open issue in their repo. closing the issue.

[2022-10-20 20:46] #106 closed

[2022-11-14 19:54] Yasir5247 commented on #86
@kanzitelli why not expose start function with rnn-screens. so in app.tsx call the start() method in the navigation.
so in this case based on the users auth logic he can show authStack or TabStack. so the logic will be in navigation service not in some screen right. just my thoughts

app.tsx

`nav.start();`

services/navigation/index.ts
[code]

[2022-11-14 20:00] kanzitelli commented on #86
hey @Yasir5247! thanks for the idea! I am going to merge rnn-screens to rn-navio, so Navio will become a universal (with the same API for rnn and react-navigation) navigation library. And I will take your thoughts into the consideration.

[2022-11-14 20:10] Yasir5247 commented on #86
hi @kanzitelli, thank you.
btw were you able to solve https://github.com/kanzitelli/expo-starter/issues/27 in rn-navio?

[2022-11-14 20:15] kanzitelli commented on #86
@Yasir5247 it's impossible to achieve exactly the same effect with react-navigation as we could do with React Native Navigation. The reason is that react-navigation doesn't use native tab bar controller under the hood. That's why the only way to do that with react-navigation (and Navio) is to push another stack over the tabs. But as you already faced the problems with back button (only on iOS tho)